# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
native/target
xcuserdata
jniLibs

Cargo.lock
pubspec.lock

# Ignore Rust target compilation files
**/target/

# Ignore pnpm specific files
pnpm-lock.yaml
shrinkwrap.yaml
.pnpm/
.pnpm-debug.log

# Ignore Node.js dependencies (optional)
# Uncomment the following line if you want to ignore the "node_modules" folder.
**/node_modules/**
